# Sequences must be FASTA and metadata must be TSV
# Both files must be zstd compressed
# Both files must have a {serotype} expandable field to be replaced by all, denv1-denv4
sequences_url: "https://data.nextstrain.org/files/workflows/dengue/sequences_{serotype}.fasta.zst"
metadata_url: "https://data.nextstrain.org/files/workflows/dengue/metadata_{serotype}.tsv.zst"

strain_id_field: "genbank_accession"
display_strain_field: "strain"

filter:
  exclude: "config/exclude.txt"
  group_by: "year region"
  min_length:
    genome: 5000
    E: 1000
  sequences_per_group:
    all: '10'
    denv1: '36'
    denv2: '36'
    denv3: '36'
    denv4: '36'

traits:
  sampling_bias_correction: '3'
  traits_columns:
    all: 'region serotype_genbank nextclade_subtype'
    denv1: 'country region serotype_genbank nextclade_subtype'
    denv2: 'country region serotype_genbank nextclade_subtype'
    denv3: 'country region serotype_genbank nextclade_subtype'
    denv4: 'country region serotype_genbank nextclade_subtype'

clades:
  clade_definitions:
    all: 'config/clades_serotypes.tsv'
    denv1: 'config/clades_genotypes.tsv'
    denv2: 'config/clades_genotypes.tsv'
    denv3: 'config/clades_genotypes.tsv'
    denv4: 'config/clades_genotypes.tsv'
